<img
  src="./assets/img4.jpg"
  height="300"
  style="opacity: 0.3"
  class="d-block w-100"
/>
<div class="row row-cols-3">
  <div class="col-4 contenedor">
    <div
      class="card mt-4"
      [style.--color]="'#b300b3'"
      routerLink="lista-hero/"
      style="margin-left: 25%; margin-right: 25%"
    >
      <div class="card-body">
        <br /><br />

        <h4 class="card-title mt-2" style="text-align: center">
          Lista de Héroes
        </h4>
      </div>
    </div>
  </div>
  <div class="col-4 contenedor">
    <div
      class="card mt-4"
      [style.--color]="'#00FF00'"
      routerLink="tienda/"
      style="margin-left: 25%"
    >
      <div class="card-body">
        <br /><br />

        <h4 class="card-title mt-2" style="text-align: center">
          Tienda de Héroes
        </h4>
      </div>
    </div>
  </div>
  <div class="col-4 contenedor">
    <div
      class="card mt-4"
      [style.--color]="'#00ffff'"
      routerLink="comics/"
      style="margin-left: 25%"
    >
      <div class="card-body">
        <br /><br />

        <h4 class="card-title mt-2" style="text-align: center">Comics</h4>
      </div>
    </div>
  </div>
</div>
<div
  style="background-color: #000; color: #fff; text-align: center; padding: 10px"
  class="mt-4"
>
  © 2024 DC. Todos los derechos reservados.
</div>
